<h1>All Games</h1>
<% @games.each do |game| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1">
    <h2><%= game.name %></h2> <br />
    <p>White player: <%= white_player_email(game) %></p>
    <p>Black player: <%= black_player_email(game) %></p>
    <p>Result: <%= game.result %></p>
    <% if isOpen?(game) %>
      <%= form_for game do |t| %>
       <%= t.hidden_field :black_player_id, :value=>current_player.id %>
       <%= t.submit "Join" %>
      <% end %>
    <% elsif game.black_player_id == current_player.id %>
      <%= form_for game do |t| %>
       <%= t.hidden_field :black_player_id, :value=>nil %>
       <%= t.submit "Leave" %>
      <% end %>
    <% end %>
  </div>
  <br />
<% end %>
