<html>

  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="col-xs-10">
        <% pieces = @game.pieces %>
        <table class="table chessboard text-center">
          <% 8.downto(1).each do |row| %>
            <tr id="row-<%= row %>" class="row">
              <td class="coordinate"><%= row %></td>
              <% 1.upto(8).each do |col| %>
                <% pieces_in_square = pieces.where(column: col, row: row) %>
                <% piece_in_square = pieces_in_square[0] %>

                <% if piece_in_square.blank? %>
                  <%= content_tag(:td, '', class: square_color(row, col), id: "square-#{row}-#{col}") %>
                <% else %>
                  <%=
                    content_tag(
                      :td,
                      content_tag(:div, raw(select_html_symbol(piece_in_square))),
                      class: square_color(row, col),
                      id: "square-#{row}-#{col}"
                    )
                  %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
          <tr class="row">
            <%= content_tag(:td, '', class: 'coordinate') %>
            <% for col in 'a'..'h' %>
              <%= content_tag(:td, col, class: 'coordinate') %>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
