<html>

  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="col-xs-10">
        <table class="table chessboard text-center">
          <% 8.downto(1).each do |row| %>
            <tr id="row-<%= row %>" class="row">
              <td class="coordinate"><%= row %></td>
              <% 1.upto(8).each do |col| %>
                <% piece = @game.pieces.find_by(column: col, row: row) %>
                <% unless piece %>
                  <%= render_empty_square(row, col) %>
                <% else %>
                  <%= render_piece_in_square(row, col, piece) %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
          <tr class="row">
            <%= content_tag(:td, '', class: 'coordinate') %>
            <% for col in 'a'..'h' %>
              <%= content_tag(:td, col, class: 'coordinate') %>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>

<script>
$(function() {
  // set layer position of pieces and hovering cursor shape
  $('.contains-piece').css({zIndex: 1, cursor: 'move'});

  // make all pieces draggable
  // the pieces are inside chessboard div and square div
  $('.contains-piece').draggable();

  // handle the action of dropping a piece into a square
  $('.square').droppable({
    // FIXME: This function does not check for valid move.
    //        It does not update database.
    drop: function(event, ui){
      let piece_div = ui.draggable;
      let square_div = $(this);
      console.log(square_div.children().data('piece-color'));
      // remove any piece of different color in the square
      if (square_div.text().length != 0 &&
        square_div.children().data('piece-color') != piece_div.data('piece-color')) {
          square_div.children().hide('slow');
          square_div.empty();
      }

      // reset the selected piece position relative to the square
      piece_div.css({left: 0, top: 0});

      // only add piece into square if empty
      if (square_div.text().length == 0) {
        square_div.append(piece_div);
      }
    }
  });

});
</script>
