<html>

  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="col-xs-10">
        <table class="table chessboard text-center">
          <% 8.downto(1).each do |row| %>
            <tr id="row-<%= row %>" class="row">
              <td class="coordinate"><%= row %></td>
              <% 1.upto(8).each do |col| %>
                <% piece = @game.pieces.active.find_by(column: col, row: row) %>
                <% unless piece %>
                  <%= render_empty_square(row, col) %>
                <% else %>
                  <%= render_piece_in_square(row, col, piece) %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
          <tr class="row">
            <%= content_tag(:td, '', class: 'coordinate') %>
            <% for col in 'a'..'h' %>
              <%= content_tag(:td, col, class: 'coordinate') %>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>

<script>
$(function() {
  // set layer position of pieces and hovering cursor shape
  $('.contains-piece').css({zIndex: 1, cursor: 'move'});

  // make all pieces draggable
  // the pieces are inside chessboard div and square div
  $('.contains-piece').draggable();

  // handle the action of dropping a piece into a square
  $('.square').droppable({
    drop: function(event, ui){
      // get selected piece's and square's attributes
      let piece_div = ui.draggable;
      let square_div = $(this);
      var piece_id = piece_div.attr('id');
      var square_id = square_div.attr('id');
      var square_info = square_id.split('-');

      // try update the piece to the new location
      $.post("/pieces/" + piece_id, {
        _method: "PUT",
        row: square_info[1],
        column: square_info[2]
      }).success(function(data) {
        // upon successful move, clear the destination square
        if (square_div.text().length != 0) {
          square_div.children().hide('slow');
          square_div.empty();
        }
        // and add the piece in
        square_div.append(piece_div);
      });
      // reset the piece position relative to the square
      piece_div.css({left: 0, top: 0});
    }
  });

});
</script>
