<html>

  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    <div class="col-xs-10 col-xs-offset-1">
      <div class="left">
        <% for j in 1..8 %>
          <% row = 9-j %>
          <%= content_tag(:div, row.to_s, class: 'row')%>
        <% end %>
      </div>

      <div class="chessboard">
        <% pieces = @game.pieces %>
        <% pieces_selected = pieces.where(is_selected: true) %>
        <% for j in 1..8 %>
          <% row = 9-j %>
          <% for col in 1..8 %>
            <% pieces_in_square = pieces.where(column: col, row: row) %>
            <% piece_in_square = pieces_in_square[0] %>

            <% if pieces_selected.empty? %>
              <% if piece_in_square.blank? ||
                 (piece_in_square.is_black && @game.black_player != current_player) ||
                 (!piece_in_square.is_black && @game.white_player != current_player) %>
                <%= content_tag(:div, raw(select_html_symbol(piece_in_square)),
                                class: square_color(row, col)) %>
              <% else %>
                <%= link_to piece_path(piece_in_square) do %>
                  <%= content_tag(:div, raw(select_html_symbol(piece_in_square)),
                                  class: square_color(row, col)) %>
                <% end %>
              <% end %>
            <% else %>
              <% piece_selected = pieces_selected[0] %>
              <%= link_to piece_path(id: piece_selected.id, column: col,
                    row: row, game_id: @game.id), method: :put do %>
                <% if piece_in_square.blank? %>
                  <%= content_tag(:div, "", class: square_color(row, col)) %>
                <% else %>
                  <%= content_tag(:div,
                                  piece_in_square.is_selected ?
                                    content_tag(:u, raw(select_html_symbol(piece_in_square))) :
                                    raw(select_html_symbol(piece_in_square)),
                                  class: square_color(row, col)) %>
                <% end %>
              <% end %>

            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="bottom">
        <% for col in 'a'..'h' %>
          <%= content_tag(:div, col, class: 'col')%>
        <% end %>
      </div>
    </div>
  </body>
</html>
